<!--<h2>Round {{currentRound}}</h2>
{{input value=playerName}}
<button {{action "addPlayer"}}>Add Player</button>
<button {{action "nextTurn"}}>Next Turn</button>
<button {{action "addPoint"}}>Add Point</button>-->

<div class="player-list">
  <ul>
    {{#each players as |player index|}}
      {{#if (eq index whosTurn)}}
        <li class="active">{{player.name}}<span>{{player.score}}</span></li>
      {{else}}
        <li>{{player.name}}<span>{{player.score}}</span></li>
      {{/if}}
    {{/each}}
  </ul>
</div>
