<!--{{input value=playerName}}
<button {{action "addPlayer"}}>Add Player</button>-->

<div class="player-list">
  <ul>
    {{#each players as |player index|}}
      {{#if (eq index whosTurn)}}
        <li class="active">{{player.name}}<span>{{player.score}}</span></li>
      {{else}}
        <li>{{player.name}}<span>{{player.score}}</span></li>
      {{/if}}
    {{/each}}
  </ul>
</div>
<div class="buttons-wrap">
  <button {{action "nextTurn"}}>Failure</button>
  <button {{action "addPoint"}}>Success</button>
</div>
