<div class="app-wrap">
  <div class="start-screen {{if gameStarted "hidden"}}">
    <div class="start-screen-inner title-card">
      <h1>Dapper</h1>
    </div>
    <div class="start-screen-inner player-card">
      <h2>How many players?</h2>
      <ul class="start-screen-num-players">
        <li><button {{action 'setNumPlayers' 2}}>2</button></li>
        <li><button {{action 'setNumPlayers' 3}}>3</button></li>
        <li><button {{action 'setNumPlayers' 4}}>4</button></li>
      </ul>
      {{#if (gte numPlayers 2)}}
        {{input value=player1Name placeholder="Player 1"}}
        {{input value=player2Name placeholder="Player 2"}}
      {{/if}}
      {{#if (gte numPlayers 3)}}
        {{input value=player3Name placeholder="Player 3"}}
      {{/if}}
      {{#if (eq numPlayers 4)}}
        {{input value=player4Name placeholder="Player 4"}}
      {{/if}}
      {{#if (not-eq numPlayers 1)}}
        <button {{action 'firstRound'}}>Start Game</button>
      {{/if}}
    </div>
  </div>
  <div class="end-screen {{if gameEnded "active" "hidden"}}">
    <div class="end-screen-inner">
      <div class="player-list">
        <ul>
          {{#each players as |player index|}}
            {{#if (eq index whosTurn)}}
              <li class="active">{{player.name}}<span>{{player.score}}</span></li>
            {{else}}
              <li>{{player.name}}<span>{{player.score}}</span></li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
      <div class="winner-declaration">
        <h1>Game Over.</h1>
        <h2>{{winner}} wins!</h2>
      </div>
      <button {{action 'newGame'}}>New Game</button>
    </div>
  </div>

  <div class="round-screen {{if roundScreen "active" "hidden"}}">
    <div class="round-screen-inner">
      <div class="player-list">
        <ul>
          {{#each players as |player index|}}
            {{#if (eq index whosTurn)}}
              <li class="active">{{player.name}}<span>{{player.score}}</span></li>
            {{else}}
              <li>{{player.name}}<span>{{player.score}}</span></li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
      <h1>Round {{currentRound}}</h1>
      <button {{action 'nextRound'}}>Start Round</button>
    </div>
  </div>

  <div class="app-window">
    <div class="player-list">
      <ul>
        {{#each players as |player index|}}
          {{#if (eq index whosTurn)}}
            <li class="active">{{player.name}}<span>{{player.score}}</span></li>
          {{else}}
            <li>{{player.name}}<span>{{player.score}}</span></li>
          {{/if}}
        {{/each}}
      </ul>
    </div>

    <div class="challenge-wrap">
      {{#if name}}
        <div class="challenge-image">
          <img src="/images/{{image}}" alt="">
        </div>
        <div class="challenge-info">
          <h3 class="challenge-title">{{name}}</h3>
          <p class="challenge-description">{{description}}</p>
        </div>
      {{/if}}
    </div>

    <div class="buttons-wrap">
      <button {{action "nextTurn"}}>Failure</button>
      <button {{action "addPoint"}}>Success</button>
    </div>

  </div>
</div>
